################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CQRSApplication/.vs/CQRSApplication/v16/Server/sqlite3/db.lock
